function calcular() {
  const valor = Number(document.getElementById("valor").value);
  const taxa = 0.125;

  if (valor <= 0 || isNaN(valor)) {
    document.getElementById("valorBase").innerText = "R$ 0,00";
    document.getElementById("valorJuros").innerText = "R$ 0,00";
    document.getElementById("valorFinal").innerText = "R$ 0,00";
    return;
  }

  const juros = valor * taxa;
  const total = valor + juros;

  document.getElementById("valorBase").innerText =
    `R$ ${valor.toFixed(2).replace(".", ",")}`;

  document.getElementById("valorJuros").innerText =
    `R$ ${juros.toFixed(2).replace(".", ",")}`;

  document.getElementById("valorFinal").innerText =
    `R$ ${total.toFixed(2).replace(".", ",")}`;
}

function copiarValor() {
  const texto = document.getElementById("valorFinal").innerText;
  navigator.clipboard.writeText(texto);
  alert("Valor total copiado!");
}
